.nom{
font-size: 30px;
}
.w{
margin-top: -320px;
margin-left: 100px;

}
.e img{
border-radius: 50%;
}
.e{
margin-left: 450px;
margin-top: -100px;
}
.r{
margin-left: 830px;
margin-top: -120px;
}
.t{
margin-left: 460px;
margin-top: 100px;
}
.y{
color: aliceblue;
margin-top: -170px;
margin-left: 100px;
}
.u{
color: aliceblue;
margin-left: 810px;
margin-top: -10px;
}






